[submodule "libzmq"]
	path = libzmq
	url = git@github.com:zeromq/libzmq.git
[submodule "zmqpp"]
	path = zmqpp
	url = git@github.com:zeromq/zmqpp.git
[submodule "mpack"]
	path = mpack
	url = git@github.com:ludocode/mpack.git
